{
    "branches": [
        "main",
        {
            "name": "develop",
            "prerelease": true
        }
    ],
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
              "changelogFile": "docs/CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/git",
            {
              "assets": ["docs/CHANGELOG.md"],
              "message": "chore(release): releasing ${nextRelease.version} \n\n${nextRelease.notes}"
            }
        ]
    ]
}